@charset 'utf-8';

:root {
  --color-balck: rgb(29, 29, 31);
  --color-gray: #888;
  --color-darkorange: darkorange;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  /*가로 스크롤 X*/
  overflow-x: hidden;
  color: var(--color-balck);
  /*자간 조절*/
  letter-spacing: -0.05em;
  background: white;
}

p {
  line-height: 1.6;
}

a {
  color: var(--color-balck);
  /*밑줄 제거*/
  text-decoration: none;
}

/* 로딩 중 스크롤 잠금 */
body.before-load {
  overflow: hidden;
}

.container {
  /* iPhone 가로 스크롤 방지 */
  overflow-x: hidden;
}

.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.local-nav-sticky .local-nav {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  /* 상단 메뉴 뒤 뿌옇게 안됨 */
  /* for iPhone */
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  /*가운데 정렬*/
  margin: 0 auto;
}

.global-nav-links {
  justify-content: space-between;
}

.local-nav-links .product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}

.local-nav-links a {
  font-size: 0.8rem;
}

.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}

.scroll-section {
  position: relative;
  /*브라우저 창의 높이*/
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2.5rem;
  opacity: 0;
}

.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

.description {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--color-gray);
}

.description strong {
  float: left;
  /*em : 상위 요소 기준
  -> 현재 내 폰트 사이즈의 비율을 활용할 수 있음 
  rem : html 요소 기준 (root element)*/
  margin-right: 0.2em;
  font-size: 3rem;
  color: var(--color-balck);
}

.pin {
  width: 1px;
  height: 100px;
  background: var(--color-balck);
}

#scroll-section-2 .b {
  top: 10%;
  left: 40%;
}

#scroll-section-2 .c {
  top: 15%;
  left: 45%;
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: var(--color-gray);
}

.mid-message strong {
  color: var(--color-balck);
}

.canvas-caption {
  max-width: 1000px;
  margin: -24rem auto 0;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--color-gray);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: white;
  background: var(--color-darkorange);
}

/*sticky를 사용하지 않는 이유 : IE 지원 X
fixed를 사용했기 떄문에 js에서 처리해줘야 한다 */
.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
  /* 성능 비용이 큰 작업을 실제로 요구되기 전에 미리 실행함으로써 페이지의 반응성을 증가시킬 수 있다. */
  will-change: transform, opacity;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

#scroll-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-blend-canvas.sticky {
  position: fixed;
  top: 0;
}

.desc-message {
  width: 50%;
  font-weight: bold;
  opacity: 0;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0;
  transition: 0.5s;
}

/* default로 써야 할 scene이 있고 script로 강제로 높이를 세팅한 scene이 있어서 충돌이 생겨 (특정 위치에서 새로 고침 했을 때) 문제 발생
-> 처음에는 다 안 보이게 높이를 없애버리고 문서 로드가 끝나서 제대로 세팅이 될 수 있을 시점에 눈에 보이게 해주기 */
.before-load .container {
  display: none;
}

.before-load .loading {
  opacity: 1;
}

@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }

  75% {
    stroke-dashoffset: -147;
  }

  100% {
    stroke-dashoffset: -157;
  }
}

.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}

/* svg는 바깥의 뷰박스 설정으로인해 절대 크기 자체가 바뀔 수 있다. (상대적으로 조정)
  -> svg는 보통 단위를 주지 않는다.  */
.loading-circle circle {
  stroke: black;
  stroke-width: 4;
  /* getTotalLenght()로 stroke의 길이를 얻어올 수 있다. 
  => document.querySelector('.loading-circle circle').getTotalLenght() */
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  fill: none;
  animation: loading-circle-ani 1s infinite;
}

/* .loading-circle:hover circle {
  stroke-dashoffset: -157;
} */

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }

  .main-message {
    font-size: 4vw;
  }

  .description {
    padding: 0;
    font-size: 2rem;
  }

  .description strong {
    font-size: 6rem;
  }

  #scroll-section-2 .main-message {
    font-size: 6vw;
  }

  .main-message small {
    font-size: 1.5vw;
  }

  .desc-message {
    width: 20%;
  }

  #scroll-section-2 .b {
    top: 20%;
    left: 53%;
  }

  #scroll-section-2 .c {
    left: 55%;
  }

  /*vw : 변환*/
  .mid-message {
    padding: 0;
    width: 1000px;
    font-size: 4vw;
  }

  /*rem : 고정*/
  .canvas-caption {
    margin-top: -8rem;
    padding: 0;
    font-size: 2rem;
  }
}